<h1>Calculator</h1>
<form>
  <div><label>First Number</label><input id="num1" name="num1" value="{{num1}}"></div>
  <div><label>Second Number</label><input id="num2" name="num2" value="{{num2}}"></div>
  <div><button>(Re)-Calculate</button></div>
  <label for="sum">Sum:</label> <output id="sum">{{sum}}</output>
</form>
